<form action="/adicionar" method="post">
    <p>Título:</p>
    <input type="text" placeholder="Título" name="titulo">
    <p>Conteúdo:</p>
    <textarea name="conteudo" placeholder="Conteúdo"></textarea>
    <br>
    <br>
    <button type="submit">Cadastrar postagem</button>
</form>